
h2{
	color:#4e3507;
}
p{
	font: Georgia;
	color: #4e3507;
	padding:15px
	
}
li{
	font: black bold Arial 18pt;
}
a:link{
	color:brown;
}
a:hover{
	color: teal;
}
.header{
	background-color:Black;
	border-bottom:  thin solid black;
	text-align: center;
	margin:35px;
	display:flex;
	justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
	align-items:center;
	color:Green
}
.test{
	width:20%;
	background-color:gray;
	padding:5px
}
.lpadding{
	padding-left:15px;
}
body {
	font-family: Helvetica, sans-serif;
	padding: 5%;
	text-align: center;
	font-size: 50;
  }
   
  /* Styling the area of the slides */
  #slideshow {
	overflow: hidden;
	height: 510px;
	width: 728px;
	margin: 0 auto;
  }
   
  /* Style each of the sides
  with a fixed width and height */
  .slide {
	float: left;
	height: 510px;
	width: 728px;
  }
   
  
  .slidewrapper {
	height:10em;
	position:relative;

	/* cycle through slide and back to beginning comm out width: calc(728px * 5);
   

	animation: slide 15s ease infinite; */
  }

  .slidewrapper > *{
	visibility:hidden;
	position:absolute;
	top:0;
	left:0;
	animation:12s slide infinite;

  }
   

  .slide:nth-child(1) {
	background: rgb(17, 41, 17);
	color:antiquewhite;
	animation-delay:0s;
  }
   
  .slide:nth-child(2) {
	background: rgb(17, 41, 17);
	color:antiquewhite;
	animation-delay:2s;
  }
   
  .slide:nth-child(3) {
	background: rgb(17, 41, 17);
	color:antiquewhite;
	animation-delay: 4s;
  }
   
  .slide:nth-child(4) {
	background: rgb(17, 41, 17);
	color:antiquewhite;
	animation-delay:6s;
  }
  .slide:nth-child(5) {
	background: rgb(17, 41, 17);
	color:antiquewhite;
	animation-delay:8s;
  }
   
  /* Define the animation
  for the slideshow */
  @keyframes slide {
	 
	0%{
		visibility: visible;

	}

	33.33%{
		visibility: hidden;
	}


 
	/*makes it cycle through all and back to first slide comm out 10% {
	  margin-left: 0px;
	}
   
	20% {
	  margin-left: calc(-728px * 1);
	}
   
	30% {
	  margin-left: calc(-728px * 2);
	}
   
	40% {
	  margin-left: calc(-728px * 3);
	}

	50%{
	  margin-left: calc(-728px * 4);
	} */

  }